# IDS 2019 PROJECT

In [0]:
# Import block

import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

path = 'drive/My Drive/Colab Notebooks/IDSProject/'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#Function for reading and cleaning data

def readNClean(name): 
  my_cols = [str(i) for i in range(65)] # create some row names
  data = pd.read_csv(path+name,names=my_cols,header=None, engine="python")

  df = data.copy()

  df = df.iloc[2:]
  df.reset_index(drop=True, inplace=True)



  #dropime ebavajalikud indikaatorid 
  df.drop(df.iloc[:, 1:4], inplace = True, axis = 1)

  df = df.T.set_index(0).T

  #Transpose DateFrame - Columns to rows
  df = df.T


  #1st row to header
  df.index.names = [None]
  new_header = df.iloc[0]
  df = df[1:]
  df.columns = new_header
  
  #Remvoing Empty row 
  df.drop(df.tail(1).index,inplace=True)
  #Rounding the values
  df = df.astype(float).round(4)

  return(df)

In [0]:
#Reading and cleaning the data.

AccessToElectricity = readNClean("AccessToElectricityTotal.csv") 
AgriculturalLand = readNClean("AgriculturalLand.csv") 
ForestArea = readNClean("ForeastArea.csv")
AirPolutionMicrogramsPerCubicMeter = readNClean("AirPolutionMicrogramsPerCubicMeter.csv") 
AirTransportFreight = readNClean("AirTransportFreight.csv") 
RailwayFreight = readNClean("RailwayFreight.csv")
CO2 = readNClean("CO2Emission.csv") 
EmploymentInAgriculture = readNClean("EmpAgroculturePercOfTotalILO.csv")   # spelling mistake in file name
EmploymentInIndustry = readNClean("EmpIndustryPercOfTotalILO.csv")
EmploymentInServices = readNClean("EmpServicesPercOfTotalILO.csv") 
Unemployment = readNClean("TotalUnemploymentPerc.csv")
EnergyFromCoal = readNClean("EnergyCoal.csv") 
ElectricPowerTransprotLoss = readNClean("ElectricPowerTransprotLossPerc.csv")
EnergyConsumption = readNClean("EnergyConsuption.csv")
EnergyImports = readNClean("EnergyImportsPercOfTotalUsed.csv")
EnergyFromNaturalGas = readNClean("EnergyNaturalGas.csv")
EnergyFromOil = readNClean("EnergyOil.csv")
EnergyFromRenewable = readNClean("EnergyRenewable.csv")
EnergyFromHydro = readNClean("HydroEnergy.csv")
EnergyFromNuclear = readNClean("NuclearEnergy.csv")
ExportPercentageOfGDP = readNClean("ExportsPercOfGDP.csv")
LogisticsPerformanceIndex = readNClean("LogisticsPerformanceIndex.csv")
TotalPopulation = readNClean("TotalPopulation.csv") 
PopulationDensity = readNClean("PopDensityPerSqrkm.csv")
PopulationLivingInSlums = readNClean("PopLivingInSLums.csv")
PriceOfFuel = readNClean("PriceOfFuelUSDPerLiter.csv")
NumberOfTourists = readNClean("TourismNumberOfArrivals.csv")
UrbanPopulation = readNClean("UrbanPopulation.csv")

In [145]:
# Finding change in one value over years

def getChange(value, year1, year2):
  df = pd.DataFrame(columns = ["dif"])
  df.dif = value.loc[year2] - value.loc[year1]

  return df


# Combining all the changed values into one dataframe

def changeOverTime(year1,year2):
  changeOverTime = pd.DataFrame(columns=['Country','TotalPopulation','PopulationDensity','UrbanPopulation','PopulationLivingInSlums',
                                 'EmploymentInAgriculture','EmploymentInIndustry','EmploymentInServices','Unemployment',
                                 'NumberOfTourists','PriceOfFuel','EnergyConsumption','EnergyImports','EnergyFromCoal',
                                 'EnergyFromNaturalGas','EnergyFromOil','EnergyFromRenewable','EnergyFromHydro','EnergyFromNuclear',
                                 'ElectricPowerTransprotLoss','AccessToElectricity','AirTransportFreight','RailwayFreight','LogisticsPerformanceIndex',
                                 'ExportPercentageOfGDP','AgriculturalLand','ForestArea','AirPolutionMicrogramsPerCubicMeter','CO2'])

  changeOverTime.Country = list(TotalPopulation.columns)
  changeOverTime.TotalPopulation = list(getChange(TotalPopulation,year1,year2).dif)
  changeOverTime.PopulationDensity = list(getChange(PopulationDensity,year1,year2).dif)
  changeOverTime.UrbanPopulation = list(getChange(UrbanPopulation,year1,year2).dif)
  changeOverTime.PopulationLivingInSlums = list(getChange(PopulationLivingInSlums,year1,year2).dif)
  changeOverTime.EmploymentInAgriculture = list(getChange(EmploymentInAgriculture,year1,year2).dif)
  changeOverTime.EmploymentInIndustry = list(getChange(EmploymentInIndustry,year1,year2).dif)
  changeOverTime.EmploymentInServices = list(getChange(EmploymentInServices,year1,year2).dif)
  changeOverTime.Unemployment = list(getChange(Unemployment,year1,year2).dif)
  changeOverTime.NumberOfTourists = list(getChange(NumberOfTourists,year1,year2).dif)
  changeOverTime.PriceOfFuel = list(getChange(PriceOfFuel,year1,year2).dif)
  changeOverTime.EnergyConsumption = list(getChange(EnergyConsumption,year1,year2).dif)
  changeOverTime.EnergyImports = list(getChange(EnergyImports,year1,year2).dif)
  changeOverTime.EnergyFromCoal = list(getChange(EnergyFromCoal,year1,year2).dif)
  changeOverTime.EnergyFromNaturalGas = list(getChange(EnergyFromNaturalGas,year1,year2).dif)
  changeOverTime.EnergyFromOil = list(getChange(EnergyFromOil,year1,year2).dif)
  changeOverTime.EnergyFromRenewable = list(getChange(EnergyFromRenewable,year1,year2).dif)
  changeOverTime.EnergyFromHydro = list(getChange(EnergyFromHydro,year1,year2).dif)
  changeOverTime.EnergyFromNuclear = list(getChange(EnergyFromNuclear,year1,year2).dif)
  changeOverTime.ElectricPowerTransprotLoss = list(getChange(ElectricPowerTransprotLoss,year1,year2).dif)
  changeOverTime.AccessToElectricity = list(getChange(AccessToElectricity,year1,year2).dif)
  changeOverTime.AirTransportFreight = list(getChange(AirTransportFreight,year1,year2).dif)
  changeOverTime.RailwayFreight = list(getChange(RailwayFreight,year1,year2).dif)
  changeOverTime.LogisticsPerformanceIndex = list(getChange(LogisticsPerformanceIndex,year1,year2).dif)
  changeOverTime.ExportPercentageOfGDP = list(getChange(ExportPercentageOfGDP,year1,year2).dif)
  changeOverTime.AgriculturalLand = list(getChange(AgriculturalLand,year1,year2).dif)
  changeOverTime.ForestArea = list(getChange(ForestArea,year1,year2).dif)
  changeOverTime.AirPolutionMicrogramsPerCubicMeter = list(getChange(AirPolutionMicrogramsPerCubicMeter,year1,year2).dif)
  changeOverTime.CO2 = list(getChange(CO2,year1,year2).dif)

  return changeOverTime

changeOverTime(2004.0,2014.0)

          Country  ...        CO2
0           Aruba  ...  -1745.492
1     Afghanistan  ...   8859.472
2          Angola  ...  15969.785
3         Albania  ...   1551.141
4         Andorra  ...    -99.009
..            ...  ...        ...
259        Kosovo  ...        NaN
260   Yemen, Rep.  ...   3817.347
261  South Africa  ...  39585.265
262        Zambia  ...   2357.881
263      Zimbabwe  ...   2533.897

[264 rows x 29 columns]