# IDS 2019 PROJECT

In [0]:
# Import block

import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

path = 'drive/My Drive/Colab Notebooks/IDSProject/'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
#Function for reading and cleaning data

def readNClean(name): 
  my_cols = [str(i) for i in range(65)] # create some row names
  data = pd.read_csv(path+name,names=my_cols,header=None, engine="python")

  df = data.copy()

  df = df.iloc[2:]
  df.reset_index(drop=True, inplace=True)



  #dropime ebavajalikud indikaatorid 
  df.drop(df.iloc[:, 1:4], inplace = True, axis = 1)

  df = df.T.set_index(0).T

  #Transpose DateFrame - Columns to rows
  df = df.T


  #1st row to header
  df.index.names = [None]
  new_header = df.iloc[0]
  df = df[1:]
  df.columns = new_header
  
  #Remvoing Empty row 
  df.drop(df.tail(1).index,inplace=True)
  #Rounding the values
  df = df.astype(float).round(4)

  return(df)

In [0]:
#Reading and cleaning the data.

AccessToElectricity = readNClean("AccessToElectricityTotal.csv") 
AgriculturalLand = readNClean("AgriculturalLand.csv") 
ForestArea = readNClean("ForeastArea.csv")
AirPolutionMicrogramsPerCubicMeter = readNClean("AirPolutionMicrogramsPerCubicMeter.csv") 
AirTransportFreight = readNClean("AirTransportFreight.csv") 
RailwayFreight = readNClean("RailwayFreight.csv")
CO2 = readNClean("CO2Emission.csv") 
EmploymentInAgriculture = readNClean("EmpAgroculturePercOfTotalILO.csv")   # spelling mistake in file name
EmploymentInIndustry = readNClean("EmpIndustryPercOfTotalILO.csv")
EmploymentInServices = readNClean("EmpServicesPercOfTotalILO.csv") 
Unemployment = readNClean("TotalUnemploymentPerc.csv")
EnergyFromCoal = readNClean("EnergyCoal.csv") 
ElectricPowerTransprotLoss = readNClean("ElectricPowerTransprotLossPerc.csv")
EnergyConsumption = readNClean("EnergyConsuption.csv")
EnergyImports = readNClean("EnergyImportsPercOfTotalUsed.csv")
EnergyFromNaturalGas = readNClean("EnergyNaturalGas.csv")
EnergyFromOil = readNClean("EnergyOil.csv")
EnergyFromRenewable = readNClean("EnergyRenewable.csv")
EnergyFromHydro = readNClean("HydroEnergy.csv")
EnergyFromNuclear = readNClean("NuclearEnergy.csv")
ExportPercentageOfGDP = readNClean("ExportsPercOfGDP.csv")
LogisticsPerformanceIndex = readNClean("LogisticsPerformanceIndex.csv")
TotalPopulation = readNClean("TotalPopulation.csv") 
PopulationDensity = readNClean("PopDensityPerSqrkm.csv")
PopulationLivingInSlums = readNClean("PopLivingInSLums.csv")
PriceOfFuel = readNClean("PriceOfFuelUSDPerLiter.csv")
NumberOfTourists = readNClean("TourismNumberOfArrivals.csv")
UrbanPopulation = readNClean("UrbanPopulation.csv")

In [0]:
# Finding change in one value over years

def getChange(value, year1, year2):
  df = pd.DataFrame(columns = ["dif"])
  df.dif = value.loc[year2] - value.loc[year1]

  return df


# Combining all the changed values into one dataframe

def changeOverTime(year1,year2):
  changeOverTime = pd.DataFrame(columns=['Country','TotalPopulation','PopulationDensity','UrbanPopulation','PopulationLivingInSlums',
                                 'EmploymentInAgriculture','EmploymentInIndustry','EmploymentInServices','Unemployment',
                                 'NumberOfTourists','PriceOfFuel','EnergyConsumption','EnergyImports','EnergyFromCoal',
                                 'EnergyFromNaturalGas','EnergyFromOil','EnergyFromRenewable','EnergyFromHydro','EnergyFromNuclear',
                                 'ElectricPowerTransprotLoss','AccessToElectricity','AirTransportFreight','RailwayFreight','LogisticsPerformanceIndex',
                                 'ExportPercentageOfGDP','AgriculturalLand','ForestArea','AirPolutionMicrogramsPerCubicMeter','CO2'])

  changeOverTime.Country = list(TotalPopulation.columns)
  changeOverTime.TotalPopulation = list(getChange(TotalPopulation,year1,year2).dif)
  changeOverTime.PopulationDensity = list(getChange(PopulationDensity,year1,year2).dif)
  changeOverTime.UrbanPopulation = list(getChange(UrbanPopulation,year1,year2).dif)
  changeOverTime.PopulationLivingInSlums = list(getChange(PopulationLivingInSlums,year1,year2).dif)
  changeOverTime.EmploymentInAgriculture = list(getChange(EmploymentInAgriculture,year1,year2).dif)
  changeOverTime.EmploymentInIndustry = list(getChange(EmploymentInIndustry,year1,year2).dif)
  changeOverTime.EmploymentInServices = list(getChange(EmploymentInServices,year1,year2).dif)
  changeOverTime.Unemployment = list(getChange(Unemployment,year1,year2).dif)
  changeOverTime.NumberOfTourists = list(getChange(NumberOfTourists,year1,year2).dif)
  changeOverTime.PriceOfFuel = list(getChange(PriceOfFuel,year1,year2).dif)
  changeOverTime.EnergyConsumption = list(getChange(EnergyConsumption,year1,year2).dif)
  changeOverTime.EnergyImports = list(getChange(EnergyImports,year1,year2).dif)
  changeOverTime.EnergyFromCoal = list(getChange(EnergyFromCoal,year1,year2).dif)
  changeOverTime.EnergyFromNaturalGas = list(getChange(EnergyFromNaturalGas,year1,year2).dif)
  changeOverTime.EnergyFromOil = list(getChange(EnergyFromOil,year1,year2).dif)
  changeOverTime.EnergyFromRenewable = list(getChange(EnergyFromRenewable,year1,year2).dif)
  changeOverTime.EnergyFromHydro = list(getChange(EnergyFromHydro,year1,year2).dif)
  changeOverTime.EnergyFromNuclear = list(getChange(EnergyFromNuclear,year1,year2).dif)
  changeOverTime.ElectricPowerTransprotLoss = list(getChange(ElectricPowerTransprotLoss,year1,year2).dif)
  changeOverTime.AccessToElectricity = list(getChange(AccessToElectricity,year1,year2).dif)
  changeOverTime.AirTransportFreight = list(getChange(AirTransportFreight,year1,year2).dif)
  changeOverTime.RailwayFreight = list(getChange(RailwayFreight,year1,year2).dif)
  changeOverTime.LogisticsPerformanceIndex = list(getChange(LogisticsPerformanceIndex,year1,year2).dif)
  changeOverTime.ExportPercentageOfGDP = list(getChange(ExportPercentageOfGDP,year1,year2).dif)
  changeOverTime.AgriculturalLand = list(getChange(AgriculturalLand,year1,year2).dif)
  changeOverTime.ForestArea = list(getChange(ForestArea,year1,year2).dif)
  changeOverTime.AirPolutionMicrogramsPerCubicMeter = list(getChange(AirPolutionMicrogramsPerCubicMeter,year1,year2).dif)
  changeOverTime.CO2 = list(getChange(CO2,year1,year2).dif)

  return changeOverTime

In [168]:
# All Info about one country

def byCountry(name):

  country = pd.DataFrame(columns=['Year','TotalPopulation','PopulationDensity','UrbanPopulation','PopulationLivingInSlums',
                                  'EmploymentInAgriculture','EmploymentInIndustry','EmploymentInServices','Unemployment',
                                  'NumberOfTourists','PriceOfFuel','EnergyConsumption','EnergyImports','EnergyFromCoal',
                                  'EnergyFromNaturalGas','EnergyFromOil','EnergyFromRenewable','EnergyFromHydro','EnergyFromNuclear',
                                  'ElectricPowerTransprotLoss','AccessToElectricity','AirTransportFreight','RailwayFreight','LogisticsPerformanceIndex',
                                  'ExportPercentageOfGDP','AgriculturalLand','ForestArea','AirPolutionMicrogramsPerCubicMeter','CO2'])

  country.Year = TotalPopulation.index
  country.TotalPopulation = list(TotalPopulation[name])
  country.PopulationDensity = list(PopulationDensity[name])
  country.UrbanPopulation = list(UrbanPopulation[name])
  country.PopulationLivingInSlums = list(PopulationLivingInSlums[name])
  country.EmploymentInAgriculture = list(EmploymentInAgriculture[name])
  country.EmploymentInIndustry = list(EmploymentInIndustry[name])
  country.EmploymentInServices = list(EmploymentInServices[name])
  country.Unemployment = list(Unemployment[name])
  country.NumberOfTourists = list(NumberOfTourists[name])
  country.PriceOfFuel = list(PriceOfFuel[name])
  country.EnergyConsumption = list(EnergyConsumption[name])
  country.EnergyImports = list(EnergyImports[name])
  country.EnergyFromCoal = list(EnergyFromCoal[name])
  country.EnergyFromNaturalGas = list(EnergyFromNaturalGas[name])
  country.EnergyFromOil = list(EnergyFromOil[name])
  country.EnergyFromRenewable = list(EnergyFromRenewable[name])
  country.EnergyFromHydro = list(EnergyFromHydro[name])
  country.EnergyFromNuclear = list(EnergyFromNuclear[name])
  country.ElectricPowerTransprotLoss = list(ElectricPowerTransprotLoss[name])
  country.AccessToElectricity = list(AccessToElectricity[name])
  country.AirTransportFreight = list(AirTransportFreight[name])
  country.RailwayFreight = list(RailwayFreight[name])
  country.LogisticsPerformanceIndex = list(LogisticsPerformanceIndex[name])
  country.ExportPercentageOfGDP = list(ExportPercentageOfGDP[name])
  country.AgriculturalLand = list(AgriculturalLand[name])
  country.ForestArea = list(ForestArea[name])
  country.AirPolutionMicrogramsPerCubicMeter = list(AirPolutionMicrogramsPerCubicMeter[name])
  country.CO2 = list(CO2[name])

  return country

byCountry("Estonia")

    Year  TotalPopulation  ...  AirPolutionMicrogramsPerCubicMeter        CO2
0   1960        1211537.0  ...                                 NaN        NaN
1   1961        1225077.0  ...                                 NaN        NaN
2   1962        1241623.0  ...                                 NaN        NaN
3   1963        1258857.0  ...                                 NaN        NaN
4   1964        1277086.0  ...                                 NaN        NaN
5   1965        1294566.0  ...                                 NaN        NaN
6   1966        1308597.0  ...                                 NaN        NaN
7   1967        1318946.0  ...                                 NaN        NaN
8   1968        1331214.0  ...                                 NaN        NaN
9   1969        1345249.0  ...                                 NaN        NaN
10  1970        1360076.0  ...                                 NaN        NaN
11  1971        1376955.0  ...                                 NaN        NaN
12  1972        1392518.0  ...                                 NaN        NaN
13  1973        1405951.0  ...                                 NaN        NaN
14  1974        1418169.0  ...                                 NaN        NaN
15  1975        1429352.0  ...                                 NaN        NaN
16  1976        1439576.0  ...                                 NaN        NaN
17  1977        1450211.0  ...                                 NaN        NaN
18  1978        1460188.0  ...                                 NaN        NaN
19  1979        1468333.0  ...                                 NaN        NaN
20  1980        1477219.0  ...                                 NaN        NaN
21  1981        1487666.0  ...                                 NaN        NaN
22  1982        1498414.0  ...                                 NaN        NaN
23  1983        1508745.0  ...                                 NaN        NaN
24  1984        1518617.0  ...                                 NaN        NaN
25  1985        1528781.0  ...                                 NaN        NaN
26  1986        1540190.0  ...                                 NaN        NaN
27  1987        1552221.0  ...                                 NaN        NaN
28  1988        1561900.0  ...                                 NaN        NaN
29  1989        1568131.0  ...                                 NaN        NaN
30  1990        1569174.0  ...                              9.0519        NaN
31  1991        1561314.0  ...                                 NaN        NaN
32  1992        1533091.0  ...                                 NaN  23879.504
33  1993        1494128.0  ...                                 NaN  19508.440
34  1994        1462514.0  ...                                 NaN  19042.731
35  1995        1436634.0  ...                              8.5780  17520.926
36  1996        1415594.0  ...                                 NaN  18349.668
37  1997        1399535.0  ...                                 NaN  18107.646
38  1998        1386156.0  ...                                 NaN  16310.816
39  1999        1390244.0  ...                                 NaN  15159.378
40  2000        1396985.0  ...                              8.2274  14858.684
41  2001        1388115.0  ...                                 NaN  15570.082
42  2002        1379350.0  ...                                 NaN  14888.020
43  2003        1370720.0  ...                                 NaN  17124.890
44  2004        1362550.0  ...                                 NaN  17282.571
45  2005        1354775.0  ...                              8.4572  16754.523
46  2006        1346810.0  ...                                 NaN  16175.137
47  2007        1340680.0  ...                                 NaN  18709.034
48  2008        1337090.0  ...                                 NaN  17491.590
49  2009        1334515.0  ...                                 NaN  14565.324
50  2010        1331475.0  ...                              8.5198  18107.646
51  2011        1327439.0  ...                              8.4426  18606.358
52  2012        1322696.0  ...                              7.8107  17623.602
53  2013        1317997.0  ...                              7.4828  19893.475
54  2014        1314545.0  ...                              7.7056  19519.441
55  2015        1315407.0  ...                              7.0037        NaN
56  2016        1315790.0  ...                              6.8214        NaN
57  2017        1317384.0  ...                              6.7321        NaN
58  2018        1320884.0  ...                                 NaN        NaN
59  2019              NaN  ...                                 NaN        NaN

[60 rows x 29 columns]